.terraform/
terraform.tfstate
terraform.tfstate.backup
venv/
__pycache__/
*.pyc
*.tfstate
*.tfstate.backup
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
